/* * {
    border: 1px solid red;
} */

h2, p {
    margin: 0;
    padding: 0;
}

.education-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;

    width: 100%;

    height: 180px;
}
.education-container:hover {
    background-color: var(--bg-hover);
}

.school {
    height: 100%;

    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.school-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 100%;
}
.school-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
}
.school-dates {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    font-style: italic;

    height: 100%;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--dun);
}