.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.education-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}