.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.education-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

header {
    margin-top: 40px;
    margin-bottom: 40px;

    h1 {
        font-size: 4em;
        margin: 0;
        padding: 0;
    }
}

.new-education-btn {
    margin: 40px 0;
    padding: 12px 24px;
    font-size: 1.2em;
    background-color: var(--dune);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    min-width: 200px;
}