nav {
    width: 100%;
    display: flex;
    justify-content: center;
    height: var(--nav-size);
}

.nav-container {
    width: 100%;
    max-width: var(--max-width);

    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 75px 0 55px;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo img {
    height: 80px;
    width: 80px;
}

.logo img:hover {
    cursor: pointer;
    transform: translateY(-1px);
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-container > .nav-links > * {
    color: black;
    text-decoration: none;
    height: 23px;
}

.nav-container > .nav-links > .auth-link > * {
    color: black;
    text-decoration: none;
}

.nav-container > .nav-links > .auth-link > *:hover {
    transform: translateY(-1px);
    cursor: pointer;
    color: var(--maya-blue);
}

.nav-container > .nav-links > *:hover {
    transform: translateY(-1px);
    cursor: pointer;
    color: var(--maya-blue);
}